@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}


.maps{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}


nav{
    background-color:#71DFE7 !important;
    border-radius: 0px !important;
}